<p id="notice"><%= notice %></p>

<div class="panel">
	<div class="panel-heading">
	  <%= @blog_post.title %>
	</div>

	<div class="panel-body">
  	<p>by <strong><%= @blog_post.user.username, user_posts_path(id: @blog_post.user_id) %></strong><br />
		<p><%= @blog_post.blog_entry %></p>
		<span class="posted-at">posted on: <%= @blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p')%></span>
	</div>
</div>

<div class="panel">
	<div class="panel-heading">
		Make a Comment
	</div>
	<div class="panel-body">
		<%= render 'comments/form' %>
	</div>
</div>

<div class="panel">
	<div class="panel-heading">
		Comments
	</div>
	<% @blog_post.comments.each do |comment| %>
		<div class="panel-body">
      <p><strong><%= comment.user.username, user_posts_path(id: comment.user_id) %></strong> said:</p>
			<p><%= comment.comment_entry %></p>
	    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
	  </div>
	<% end %>
</div>

<div>
	<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
	<%= link_to 'Back', blog_posts_path %>
</div>