<!DOCTYPE html>
<html>
  <head>
    <title>Multi User Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt|VT323" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/index">Multi User Blog</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
              <li><%= link_to 'New Blog Post', new_blog_post_path %></li>
              <li><%= link_to "Your Posts", your_posts_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </nav>
      <% else %>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/index">Multi User Blog</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Log In", user_session_path %></li>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Forgot Password", new_user_password_path %></li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
